<h1>Transactions by tag!</h1>



<table>
  <caption>All transactions </caption>
  <thead>
  <tr>
    <th scope="col">Transaction ID</th>
    <th scope="col">Date</th>
    <th scope="col">User</th>
    <th scope="col">Item</th>
    <th scope="col">Cost</th>
    <th scope="col">Tag</th>
  </tr>
  </thead>

  <% total = 0%>
<%for transaction_info in @transaction_infos %>

<td><%=transaction_info.buy_date%></td>
<td><%=transaction_info.transaction_id%></td>
<td><%=transaction_info.user_name%></td>
<td><%=transaction_info.transaction_name%></td>
<td>£<%='%.2f'%((transaction_info.transaction_cost.to_f)/100)%>
</td>
<%total += transaction_info.transaction_cost%>
<td><%=transaction_info.tag_name%></td>
</tr>
<%end %>
<tr>
<td/><td/><td/><td>Total: </td><td>£<%='%.2f'%((total)/100)%></td><td/></tr>
</table>