<form method-="POST" action="/transactions/<%=@transaction.id%>">

  <label for="item name">Item purchased: </label>
  <input type="text" id="name" name="name" value="<%=@transaction.name%>">
  <br/>


  <label for="item cost">Cost: </label>
  <input type="number" id="cost" name="cost" value="<%=@transaction.cost%>">
  <br/>

  <label for="user_id">User: </label>
  <select name="user_id" id="user_id" value="<%=@transaction.get_user%>">
    <% for user in @users %>
    <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
      </select>
    </label>
    <br/>

    <label for="tag_id">Tag: </label>  
    <select name="tag_id" id="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
        </select>
      </label>

      <br/>
      <input type="submit" value="Update!">
    </form>
