<h1>Enter a new transaction</h1>

<form action ="/transactions" method ="POST">


<label for="date">Date: </label>  
<input type ="date" name="buy_date" id="buy_date" value="<%=@current_date%>">
<br/>

  <label for="user_id">User: </label>  
  <select name="user_id" id="user_id">
    <% for user in @users %>
    <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
    </select>
    </label>
<br/>

    <label for="name">Item purchased: </label> 
    <input type="text" id = "name" name="name">
    <br/>

    <label for="cost_pound">Cost: £</label>
    <input type="number" id="cost_pound" name="cost_pound">
    <label for="cost_pence">.</label>
    <input type="number" id="cost_pence" name="cost_pence" maxlength="2" size="2">
    <br/>

    <label for="provider_id">Service provider: </label>  
    <select name="provider_id" id="provider_id">
      <% for provider in @providers%>
      <option value="<%= provider.id %>"><%= provider.name %></option>
      <% end %>
      </select>
      </label>
      <br/>

    <label for="tag_id">Tag: </label>  
    <select name="tag_id" id="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
      </select>
      </label>
      <br/>

      <label for="luxury">Luxury? </label>
      <input type="radio" name="luxury" value="true">Luxury item
      <input type="radio" name="luxury" value="false" checked>NECESSARY!<br>

      <br/>
      <input type="submit" value="Bosh!">
    </form>


