<h1>All transactions!</h1>

<table>
  
</table>

<p>Transaction ID: <%= @transaction_info.transaction_id%></p>

<p>User: <%=@transaction_info.user_name%></p>
<p>Item: <%=@transaction_info.transaction_name%></p>
<p>Cost: <%=@transaction_info.transaction_cost%></p>
<p>Tag: <%=@transaction_info.tag_name%></p>
