<h1>Transactions this month!</h1>

<div class='view-menu-container'>
  <div class='view-menu'>

    <div class='this-month'><a href="/transactions">this month</a><img src=''/></div>

    <div class='by-tag'><a href="/tags/transactions_by_tag">by tag</a><img src=''/></div>

    <div class='by-provider'><a href="/providers/transactions_by_provider">by providers</a><img src=''/></div>

    <div class='luxury'><<a href="/transactions/transactions_by_luxury">luxury overload</a><img src=''/></div>
    <div class='all'>lifetime<img src=''/></div>
  </div>
</div>



<p><a href="/transactions/new">Make new transaction!</a></p>

<!-- TABLE TABLE TABLE TABLE TABLE TABLE  -->

<div class="table-title">
<h3>All transactions</h3>
</div>
<table class="table-fill">
  <thead>
    <tr>
      <th class="text-left">Date     </th>
      <th class="text-left">Transaction ID</th>
      <th class="text-left">User</th>
      <th class="text-left">Item</th>
      <th class="text-left">Cost</th>
      <th class="text-left">Tag</th>
      <th class="text-left"">Luxury?</th>
      <th class="text-left">Edit</th>
    </tr>
  </thead>

  <!-- can we put a sum variable that calculates the total.. -->
  <% total = 0%>

  <%for transaction_info in @transaction_infos %>

  <td class="text-left"><%=transaction_info.buy_date%></td>
  <td class="text-left"><%=transaction_info.transaction_id%></td>
  <td class="text-left"><%=transaction_info.user_name%></td>
  <td class="text-left"><%=transaction_info.transaction_name%></td>
  <td class="text-left">£<%='%.2f'%((transaction_info.transaction_cost.to_f)/100)%>
  </td>
  <%total += transaction_info.transaction_cost%>
  <td class="text-left"><%=transaction_info.tag_name%></td>
  <td class="text-left"><%=transaction_info.transaction_luxury%></td>
  <td class="text-left"><a href="/transactions/<%=transaction_info.transaction_id%>/edit">edit!</a><a href="/transactions/<%=transaction_info.transaction_id%>/delete"> delete!</a></td>
</tr>
<%end %>
<tr>
  <td/><td/><td/><td class="text-left">Total: </td><td>£<%=TransactionInfo.format_pennies(total)%></td><td class="text-left"><td/></td></td>
</tr>
</table>

<h2><%=@user.name%> has £<%= TransactionInfo.format_pennies(@user.budget - total)%> of his monthly £<%=TransactionInfo.format_pennies(@user.budget)%></h2>


